@import url('https://fonts.googleapis.com/css2? family= Barlow+Semi+Condensed:wght@200;300;500;600 & display=swap');

.bg_page{
    background-color: rgb(236, 242, 248);
    font-family: 'Barlow Semi Condensed', sans-serif;
}

/* CSS DO PERFIL DO DANIEL*/

.conteiner_daniel{
    background-color: rgb(117, 65, 200);
}

.img_daniel{
    width: 50px;
    border: 2px solid rgba(207, 207, 207, 0.5);
}

.perfil_daniel{
    margin-left: 70px;
}

.nome_daniel{
    padding: 0 0 0 0;
}
